/* ------------------------------Variables----------------------------------- */

$body-color : #ffffff;
$navbar-color: #333333;
$primary-color: dodgerblue;

/* ------------------------------------------------------------------------- */

